/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 1.5rem;
    margin-right: 20px;
}

/* Style the Instagram icon */
.instagram-link {
    display: block;
}

.instagram-icon {
    width: 40px;
    height: auto;
}

/* Style the main content */
main {
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    /* background-image: url('image4.JPG'); */
    background-size: cover;
    background-position: center;
}

.blurry-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('image4.JPG');
    background-size: cover;
    filter: blur(3px); /* Apply the blur effect */
}

.main-content {position: relative;
    max-width: 80%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background to improve text readability */
    padding: 20px;
    border-radius: 10px;
}

.text-content {
    margin-bottom: 20px;
}

.text-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #fff; /* Text color */
}

.text-content p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #fff; /* Text color */
}

.portfolio-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

/* Style the footer */

/* Show the footer when scrolling down */
.show-footer footer {
    bottom: 0;
}
/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    header h1 {
        font-size: 1.2rem; /* Decrease font size for smaller screens */
    }

    main {
        padding-top: 60px; /* Adjust padding to make room for header */
    }

    .main-content {
        max-width: 90%; /* Adjust max-width for smaller screens */
    }
    .blurry-background {
        filter: blur(1px); /* Increase blur effect for smaller screens */
    }
}

footer{
    background-color: #333;
    color: #fff;
    font: 1em sans-serif;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: -100px;
    transition: bottom 0.3s;
}
.show-footer footer {
    bottom: 0;
}